.new-expense {
  margin: 1rem auto;
  width: 50rem;
  max-width: 95%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #0b464e;
  background-color: #1a4246;
  color: white;
  border-radius: 10px;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #010a0c;
  border-color: #011013;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}